body{
    background-color: rgb(88,88,88);
    color: lightgrey;
}

h1 {
    text-align: center;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

input[type="text"], input[type="password"] {
    color: AliceBlue;
    background: darkgrey;
}