body{
    background-color: #2C2F33;
    color: #99aab5;
}

h1 {
    text-align: center;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

input[type="text"], input[type="password"], input[type="submit"] {
    color: #99aab5;
    background: #2C2F33;

}